.vid-container iframe {
  height: 85vh;
  width: 74vw;
  margin-bottom: 5vh;
}

.vid-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: 0.3s;
  padding: 5em 0 6em 0;
  z-index: 5;
}
body .cursor-hide {
  z-index: 2;
}

.playbutton {
  width: 75vw;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playbutton-icon {
  width: 0;
  height: 0;
  border-style: solid;
  opacity: 1;
  transition: 0.6s;
  cursor: pointer;
  border-width: 6vw 0 6vw 14vw;
  border-color: transparent transparent transparent black;
}

.playbutton-icon:hover {
  opacity: 0.5;
  border-color: transparent transparent transparent black;
}

.hide {
  opacity: 0;
  visibility: hidden;
}

.show {
  opacity: 1;
}
@media screen and (max-width: 1000px) {
  .vid-container {
    justify-content: center;
  }
  .vid-container iframe {
    width: 90vw;
    height: 55vh;
  }
}
